<%#= change these headers if/once "Springfield College Archives and Special Collections"
	is added as a heading= %>
<h1>Help</h1>
<div>
  <ul class="list-unstyled">
    <li><a href="#navigate" class="underline">How do I navigate the site?</a></li>
    <li><a href="#collection" class="underline">How is collection information organized in this database?</a></li>
    <li><a href="#search" class="underline">How do I search for materials?</a></li>
    <li><a href="#phrasing" class="underline">What should I know about phrasing my searches?</a></li>
    <li><a href="#filtering" class="underline">How can I filter my search results?</a></li>
    <li><a href="#extents" class="underline">What are extents and what does that mean to me?</a></li>
    <li><a href="#aahperd" class="underline">How do I search the AAHPERD Repository?</a></li>
    <li><a href="#coverage" class="underline">Does Springfield College Archives and Special Collections include all archival materials at Springfield College? What if I can’t find what I’m looking for?</a></li>
    <li><a href="#language" class="underline">How are language choices for archival description made? What should I do if I encounter language in finding aids that I find harmful, offensive, outdated, or inaccurate?</a></li>
    <li><a href="#data" class="underline">How can I use Springfield College's finding aid description and metadata?</a></li>
    <li><a href="#glossary" class="underline">Glossary of Terms and Symbols</a></li>
    <li><a href="#questions" class="underline">What if I have questions? Where should I go for help with Springfield College Archives and Special Collections?</a></li>
  </ul>
</div>

<div id="navigate">
	<h2>How do I navigate the site?</h2>
  <ul>
    <li>To begin a search, use the search bar on the home page or under “Filter Results” if you are browsing records (e.g. Collections).
		<ul>
			<li><strong>Note</strong>: The main menu bar near the top of the page will navigate across the entire site, including both the Springfield College Archives and Special Collections and the AAHPERD repositories. To navigate within only one of these repositories, first click on Repositories in the main menu, then select the desired repository. If you select a main menu option at any point, you will exit the repository and return to navigating the entire site.
			</li>
		</ul>
	</li>
    <li>To see a full alphabetical list of collections, click the collections tab.</li>
    <li>To see a full alphabetical list of digital objects, click the digital objects tab.</li>
    <li>To see a full alphabetical list of subjects, click the subjects tab.</li>
    <li>To see a full alphabetical list of names, click the names tab.</li>
	<li>You can return to the home page at any time by clicking on the ArchivesSpace Public Interface heading in the top left corner.</li>
  </ul>
</div>

<div id="collection">
	<h2>How is collection information organized in this database?</h2>
  <ul>
    <li>Collection information is organized in three different ways on this website, all of which are available for every collection. These are three clickable blue tabs at the top of the collection page.</li>
	  <li><strong>Collection Overview</strong>: This is the description of the collection, including the arrangement, histories and/or biographies, search terms (listed as subjects), scope and contents, and more.</li>
	  <li><strong>Collection Organization</strong>: This is the intellectual arrangement of the collection, identifying when applicable: series, subseries, and folder arrangements.</li>
	  <li><strong>Collection Inventory</strong>: This is the physical organization and storage of the collection, usually by boxes and folders.</li>
  </ul>
</div>

<div id="search">
	<h2>How do I search for materials?</h2>
  <ul>
    <li>Begin a basic search by entering your search terms in the search bar. You may limit the search by searchable fields, record type, and date.</li>
	<li>The searchable fields are:</li>
	  <ul>
		  <li>Keyword: Searches the entire text of the finding aid.</li>
		  <li>Title: Searches titles of the materials described, including collection records and series and folders within collections. If you know the precise title of the thing you’re looking for, searching by title can be very helpful.</li>
		  <li>Creator: Primarily searches names of the persons, families, and organizations who created the collections. Please note that limiting by &#x0022;Creator&#x0022; will primarily search only creators of collections, not individual records or items within collections. Most creators are connected only at the collection level and not at series or folder level records. Creators of series and folder level records are usually included in the series or folder title. For example, <a href="https://springfield.as.atlas-sys.com/repositories/2/archival_objects/3915">Jacob's Pillow Dance Festival Brochures</a> in the Ted Shawn Papers will not come up in a creator search for Jacob’s Pillow because the &#x0022;creator&#x0022; of the Ted Shawn Papers is &#x0022;Shawn, Ted, 1891-1972&#x0022;.</li>
		  <li>Subject: Searches by subject headings assigned to materials by archivists and librarians, e.g. Physical education and training.</li>
		  <li>Call Number: Searches by identifier, which is a unique number by which materials are tracked and requested.</li>
	  </ul>
    <li>Record types allow you to customize the type of records you want a search to return:</li>
	  <ul>
		  <li>Limit to collections will only return records for complete collections, rather than people, subjects, series, and files.</li>
	  </ul>
	 <li>You may select a date span to limit the search results chronologically. Searching by date is approximate, and results may fall outside the date span you enter. For example, if you search for records between 1900 and 1950, your results will likely show collections and series with broader date ranges, such as a result with a date span of 1800-1970 since that date range includes the years 1900-1950.</li>
	  <li>You may construct a more complex search by selecting the + icon and adding additional search parameters.</li>
  </ul>
</div>

<div id="phrasing">
	<h2>What should I know about phrasing my searches?</h2>
  <ul>
    <li>Searches are not case sensitive.</li>
    <li>You may search for phrases by including quotation marks (e.g. &#x0022;Basketball Hall of Fame&#x0022;)</li>
    <li>By default, searches with three or fewer search terms return results containing all of the search terms. Searches with four or more search terms return results containing most of the search terms. You may add OR and NOT to change this behavior (e.g. Robinson OR Doggett or sports NOT baseball).</li>
    <li>You may add a tilde (~) to search for search terms within a specified number of words of one another (e.g. &#x0022;photographs gymnastics&#x0022;~3 will return results where the term photographs occurs within 3 words of the term gymnastics).</li>
    <li>&#x0022;Wildcard&#x0022; symbols ? and * help return a greater number of relevant results by searching for variant spellings and forms of search terms simultaneously.
		<ul>
			<li>? replaces a single letter in a search term (e.g. searching wom?n will return both women and woman)</li>
			<li>* replaces any number of letters at the end of a search term (e.g. searching educat* will return educate, educated, education, educational, and educator).</li>
			<li>? and * may <strong>not</strong> be used as the first character of a word.</li>
			<li>To use a wildcard in combination with another search term (e.g. wom?n sports), use the + icon to create another row and enter each search term in a separate row.</li>
		</ul>
</li>
  </ul>
</div>

<div id="filtering">
	<h2>How can I filter my search results?</h2>
		<ul>
			<li>Once you’ve done a search and are on the search results page, you can use the filter pane on the right side of the page to further limit and customize search results.</li>
			<li>You may use the filter pane to filter by repository, record type, subject, and name.</li>
			<li>You may also use the search bar at the top of the filter pane to create additional searches within the search results.</li>
		</ul>
</div>

<div id="extents">
	<h2>What are extents and what does that mean to me?</h2>
	<ul>
		<li>Extents identify the quantity and measurements of materials comprising a collection or a component of a collection such as a series. Springfield College Archives typically uses linear feet and the quantity of boxes. This can be helpful for you to plan your research because you can identify in advance how many boxes hold the materials of interest, for example, 2 boxes versus 12 boxes.</li>
		<li>For simplicity and uniformity, all extents are rounded to the nearest quarter. For example, 1.4 linear feet is rounded to 1.5. Records with an extent less than a quarter measurement is marked as &#x003C; .25 or left blank.</li>
	</ul>
</div>

<div id="aapherd">
	<h2>How do I search the AAHPERD Repository?</h2>
	<ul>
		<li>AAHPERD records contain limited descriptive information. All descriptive elements are lists of the folders within a box. Not all folders are listed, and some of the information presented are interpretations of the original catalog. No other descriptive information to describe the materials within the folders is provided. Due to this, it is suggested to use simple keywords searches or specific individual terms such as names, places, sports or subjects are suggested within this repository.</li>
		<li>If you would like assistance on searching and using records within the AAHPERD repository, you may contact the Archivist at <a href="mailto:archives@springfieldcollege.edu">archives@springfieldcollege.edu</a>.</li>
	</ul>
</div>

<div id="coverage">
	<h2>Does Springfield College Archives and Special Collections include all archival materials at Springfield College? What if I can’t find what I’m looking for?</h2>
  <ul>
    <li>Springfield College Archives does not include all archival and special collections materials at Springfield College, which are available. Materials not included here are:</li>
	  <ul>
		  <li>Digital collections. These are available on the <a href="https://cdm16122.contentdm.oclc.org/digital/">Springfield College Digital Collections</a> site. Our archival collections in ArchivesSpace also have links to digital materials from within each collection.</li>
	 	<ul>
				 <li>Springfield College ArchivesSpace contains information about archival materials, but does not contain them. All digital materials are available on a separate site, <a href="https://cdm16122.contentdm.oclc.org/digital/">Springfield College Digital Collections</a>.</li>
		  <li>Look for links on the collection level and within folders and individual items that will connect you to their digital materials:</li>
				<ul>
					<li>Red box with the caption, “Digitized materials within collection” near the top of the page</li>
					AND&#x002F;OR
					<li>Hyperlinked under the heading Digitized Materials within the Additional Description section lower on the page.</li>
			    </ul>
		  </ul>
		</ul>
	<li>Rare book collections. These are available through the library catalog. Visit the library website at <a href="https://library.springfield.edu/">https&#x003A;&#x002F;&#x002F;library.springfield.edu&#x002F;</a>.</li>
	<li>Most unprocessed collections. There are many more materials in our collections than are presented in this database. If you don’t see something but believe it may be contained within the Springfield College Archives and Special Collections, please contact the archivist at <a href="mailto:archives@springfieldcollege.edu">archives@springfieldcollege.edu</a>.</li>
  </ul>
</div>

<div id="language">
  <h2>How are language choices for archival description made? What should I do if I encounter language in finding aids that I find harmful, offensive, outdated, or inaccurate?</h2>
  <ul>
	  <li>Materials and records in the Springfield College Archives and Special Collections are historical in nature. They may contain stereotypes, such as those related to race, ethnicity, and gender, as well as other language and imagery that may be considered inappropriate by today's standards. Materials and records are retained in order to fully represent the historical record of Springfield College and are presented in their original format, without context, for research in person or through online access. The materials and records are made accessible without endorsing any historical viewpoints. Archives and Special Collections is guided by the Humanics mission and by application of the core values of the Society of American Archivists.</li>
	  <li>If you have any questions or comments about our process, please contact us at <a href="mailto:archives@springfieldcollege.edu">archives@springfieldcollege.edu</a>.</li>
  </ul>
</div>

<div id="data">
  <h2>How can I use Springfield College's finding aid description and metadata?</h2>
  <ul>
	<li>Finding aid description and metadata in Springfield College ArchivesSpace are licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0 International Public License</a>. This license is explained in full on the Creative Commons website: https&#x003A;&#x002F;&#x002F;creativecommons.org&#x002F;licenses&#x002F;by-sa&#x002F;4.0&#x002F;legalcode.</li>
	<li>This license does not include any images, documents, or other digital content linked to the finding aid descriptions. The rights status of these materials is not fully evaluated. Read our full copyright statement here: <a href="https://library.springfield.edu/using-the-archives/publication-and-copyright.">https&#x003A;&#x002F;&#x002F;library.springfield.edu&#x002F;using-the-archives&#x002F;publication-and-copyright.</a></li>
    <li>We ask that you follow these guidelines and practices:</li>
    	<ul>
      		<li>Give attribution to Springfield College Archives and Special Collections: cite our materials and our metadata, provide a link to the license, and indicate if changes were made. Any modifications to the materials must be distributed under the same license.</li>
      		<li>Do not mislead others or misrepresent the finding aids or their sources. Please don’t use this data in a way that suggests you have any official status or that we endorse you or your use of the metadata.</li>
      		<li>Conform to laws and other regulations in your jurisdiction, especially concerning defamation and copyright.</li>
      		<li>Understand that our finding aid descriptions are provided as-is, and not all of our descriptions have been reviewed for completeness or accuracy.</li>
    	</ul>
	</ul>
</div>

<div id="glossary">
	<h2>Glossary of Terms and Symbols</h2>
<ul>
  <li><strong>Archives</strong> are materials created or received by a person, family, or organization that are preserved because of the enduring value of the information they contain.</li>
  <li><strong>Collections</strong> are groups of materials assembled by a person, family, organization, or repository. They may be divided hierarchically into series, groupings, and folders.</li>
  <li><strong>Containers</strong> are anything that houses or stores archival materials, oftentimes an archival box within our collections.</li>
  <li><strong>Digital records</strong> are born-digital and digitized materials that are available online.</li>
  <li><strong>Finding aids</strong> are guides that allow users to discover, understand, and access archival collections. Finding aids describe the creation, arrangement, content, and context of archival materials.</li>
  <li><strong>Repositories</strong>  are institutions or organizations that hold archival materials. Springfield College ArchivesSpace features Springfield College Archives and Special Collections, and AAHPERD.</li>
  <li><strong>Name records</strong> are the people, families, and organizations that create, donate, and/or are the subject of archival materials. In Springfield College ArchivesSpace, users can view name records to see all of the collections associated with a person, family, or organization. Staff choose names from controlled lists, primarily the Library of Congress, in addition to creating selected records of significance to Springfield College, its community and history, Humanics, and the collections.</li>
  <li><strong>Subject records</strong> are topics, places, and genres used to describe the context and content of archival materials. In Springfield College ArchivesSpace, users can view a subject record to see all of the collections relating to that topic, place, or genre. Staff choose subjects from controlled lists, primarily the Library of Congress, in addition to creating records of significance to Springfield College, its community and history, Humanics, and the collections.</li>
</ul>

<%#= how should these sections be marked up in HTML? %>
<br/>
  <p>
      <img src="assets/images/request.png" alt="Request icon in Springfield College ArchivesSpace"/>
      <br/>
  Use the <strong>Request</strong> button to place a request for the selected material. For more information about requesting material, see the requesting materials section above.</p>
<br/>
  <p>
      <img src="assets/images/citation.png" alt="Preferred citation icon in Springfield College ArchivesSpace"/>
      <br/>
    Use the <strong>Citation</strong> button to generate a formatted citation for the material you are viewing. Citations can be generated at all levels of a finding aid, including at the folder or item level.</p>
<br/>
  <p>
      <img src="assets/images/pdf.png" alt="Download PDF icon in Springfield College ArchivesSpace"/>
      <br/>
  Use the <strong>Print</strong> button to access a fully formatted PDF of a finding aid. PDFs can be accessed from the resource level of a finding aid, which is the main collection page.</p>
<br/>
</div>
	

<div id="questions">
  <h2>What if I have questions? Where should I go for help with Springfield College Archives and Special Collections?</h2>
  <ul>
	  <li>If you have other questions, you are welcome to contact us at <a href="mailto:archives@springfieldcollege.edu">archives@springfieldcollege.edu</a>.</li>
  </ul>
</div>
