<!-- change these headers once "Archives at Yale"
	is added as a heading-->
<h1>Help</h1>
<div class="list-group">
  <a href="#search" class="list-group-item">Search</a>
  <a href="#advanced" class="list-group-item">Advanced Search Options</a>
  <a href="#navigation" class="list-group-item">Navigation</a>
  <a href="#requests" class="list-group-item">Requesting Materials</a>
  <a href="#faq" class="list-group-item">Frequently Asked Questions</a>
</div>

<div id="search">
	<h2>Search</h2>
	         <ul>
                <li>By default, searches with multiple terms return hits containing ANY of the search terms
                    (like an assumed OR operator).</li>
                <li>The Boolean operator AND can be used between the search terms to change that behavior.</li>
                <li>To exclude a term from a search, use an uppercase NOT operator before the term
                    to be excluded, e.g. art NOT British.</li>
                <li>Alternately, you can exclude a term from a search by preceding it with a hyphen,
                    e.g. art -British.</li>
                <li>Searches are not case sensitive.</li>
            </ul>
</div>

<div id="advanced">
	<h2>Advanced Search Options</h2>
	            <ul>
                <li>The wildcards ? and * can be used with the advanced search but not as the first
                    character of a word.</li>
                <li>Wildcard ? matches a single letter.</li>
                <li>Wildcard * matches zero or more letters.</li>
                <li>The searchable fields are as follows: <ul>
                        <li>Keyword: Entire text of the finding aid for the collections
                            described.</li>
                        <li>Title: Titles of the collections and collection components being described.</li> 
                        <li>Creator: Names of the persons/corporate bodies/families who created the
                            materials described.</li>
                        <li>Notes: Narrative statements containing summaries of the
                            material described.</li>
                        <li>Call Number: Identifier by which the materials described are tracked and
                            requested.</li>
                    </ul>
                </li>
                <li>You can also restrict your search to a single repository by selecting that
                    repository from the available drop down menu.</li>
            </ul>
</div>

<div id="navigation">
	<h2>Navigation</h2>
	<p>Probably about time for a video, right?</p>
</div>

<div id="requests">
	<h2>Requesting Material</h2>
	<p>more text</p>
</div>

<div id="faq">
	<h2>Frequently Asked Questions</h2>
	<p>let's point folks to something like LibAnswers for this.</p>
</div>